.social-icons-style-white-social-twitter-instance,
.social-icons-style-white-social-twitter-instance * {
  box-sizing: border-box;
}
.social-icons-style-white-social-twitter-instance {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
