.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #ffffff;
  height: 2715px;
  position: relative;
  overflow: hidden;
}
.landing-page .home {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 84px;
}
.landing-page .hero-section {
  background: var(--neutral-silver, #f5f7fa);
  padding: 96px 144px 96px 144px;
  display: flex;
  flex-direction: row;
  gap: 104px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.landing-page .frame-1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.landing-page .text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.landing-page .unlock-parking-potential-with-smart-solution {
  text-align: left;
  font-family: var(
    --heading-headline-1-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--heading-headline-1-font-size, 55px);
  line-height: var(--heading-headline-1-line-height, 76px);
  font-weight: var(--heading-headline-1-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.unlock-parking-potential-with-smart-solution-span {
  color: var(--neutral-dgrey, #4d4d4d);
  font-family: var(
    --heading-headline-1-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--heading-headline-1-font-size, 55px);
  line-height: var(--heading-headline-1-line-height, 76px);
  font-weight: var(--heading-headline-1-font-weight, 600);
}
.unlock-parking-potential-with-smart-solution-span2 {
  color: var(--brand-primary, #4f8ef7);
  font-family: var(
    --heading-headline-1-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--heading-headline-1-font-size, 55px);
  line-height: var(--heading-headline-1-line-height, 76px);
  font-weight: var(--heading-headline-1-font-weight, 600);
}
.landing-page .do-you-own-a-parking-attract-more-customers-with-ease {
  color: var(--neutral-grey, #717171);
  text-align: left;
  font-family: var(
    --body-regular-body-2-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--body-regular-body-2-font-size, 16px);
  line-height: var(--body-regular-body-2-line-height, 24px);
  font-weight: var(--body-regular-body-2-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.landing-page .illustration {
  flex-shrink: 0;
  width: 415px;
  height: 433px;
  position: relative;
}
.landing-page .image-ai-brush-removebg-6-ucjfkam-1 {
  width: 550px;
  height: 522px;
  position: absolute;
  left: -117px;
  top: -60px;
  object-fit: cover;
}
.landing-page .clients {
  padding: 0px 144px 0px 144px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
}
.landing-page .clients2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1110px;
  position: relative;
}
.landing-page .section-title {
  color: var(--neutral-dgrey, #4d4d4d);
  text-align: center;
  font-family: var(
    --heading-headline-2-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--heading-headline-2-font-size, 36px);
  line-height: var(--heading-headline-2-line-height, 44px);
  font-weight: var(--heading-headline-2-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.landing-page .clients-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 920px;
  height: 98px;
  position: relative;
}
.landing-page .logo {
  border-radius: 8px;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.landing-page .logo2 {
  width: 40px;
  height: 28px;
  position: absolute;
  left: 4px;
  top: 9.85px;
  overflow: hidden;
}
.landing-page .parking-barrier-2-1 {
  width: 33px;
  height: 33px;
  position: absolute;
  left: 3px;
  top: -1.85px;
  object-fit: cover;
}
.landing-page .logo3 {
  width: 55px;
  height: 30px;
  position: absolute;
  left: -3px;
  top: 8.85px;
  overflow: hidden;
}
.landing-page .image-22 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 11px;
  top: 0.15px;
  object-fit: cover;
}
.landing-page .image-21 {
  width: 68.75%;
  height: 72.92%;
  position: absolute;
  right: 16.67%;
  left: 14.58%;
  bottom: 16.67%;
  top: 10.42%;
  object-fit: cover;
}
.landing-page .parking-barrier-2-12 {
  width: 33px;
  height: 33px;
  position: absolute;
  left: 3px;
  top: -2px;
  object-fit: cover;
}
.landing-page .image-222 {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 11px;
  top: 0px;
  object-fit: cover;
}
.landing-page .community {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.landing-page .community2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
}
.landing-page .section-title2 {
  color: var(--neutral-dgrey, #4d4d4d);
  text-align: center;
  font-family: var(
    --heading-headline-2-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--heading-headline-2-font-size, 36px);
  line-height: var(--heading-headline-2-line-height, 44px);
  font-weight: var(--heading-headline-2-font-weight, 600);
  position: relative;
  width: 542px;
}
.landing-page .description {
  color: var(--neutral-grey, #717171);
  text-align: center;
  font-family: var(
    --body-regular-body-2-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--body-regular-body-2-font-size, 16px);
  line-height: var(--body-regular-body-2-line-height, 24px);
  font-weight: var(--body-regular-body-2-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.landing-page .frame-4 {
  padding: 0px 144px 0px 144px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
}
.landing-page .membership-organizatios {
  background: var(--neutral-white, #ffffff);
  border-radius: 8px;
  padding: 24px 32px 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 299px;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
}
.landing-page .member {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 267px;
  position: relative;
}
.landing-page .icon {
  flex-shrink: 0;
  width: 65px;
  height: 56px;
  position: relative;
}
.landing-page .rectangle-157 {
  background: var(--tint-t5, #e7f2fe);
  border-radius: 18px 5px 10px 5px;
  width: 50px;
  height: 49px;
  position: absolute;
  left: 65px;
  top: 56px;
  transform-origin: 0 0;
  transform: rotate(-180deg) scale(1, 1);
}
.landing-page .icon2 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.landing-page .private-owners {
  color: var(--neutral-dgrey, #4d4d4d);
  text-align: center;
  font-family: var(--heading-headline-3-font-family, "Inter-Bold", sans-serif);
  font-size: var(--heading-headline-3-font-size, 28px);
  line-height: var(--heading-headline-3-line-height, 36px);
  font-weight: var(--heading-headline-3-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.landing-page .national-associations {
  background: var(--neutral-white, #ffffff);
  border-radius: 8px;
  padding: 24px 32px 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 299px;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
}
.landing-page .icon3 {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.landing-page .group-1 {
  width: 74.12%;
  height: 62.94%;
  position: absolute;
  right: 13.38%;
  left: 12.5%;
  bottom: 18.31%;
  top: 18.75%;
  overflow: visible;
}
.landing-page .cities {
  color: var(--neutral-dgrey, #4d4d4d);
  text-align: center;
  font-family: var(--heading-headline-3-font-family, "Inter-Bold", sans-serif);
  font-size: var(--heading-headline-3-font-size, 28px);
  line-height: var(--heading-headline-3-line-height, 36px);
  font-weight: var(--heading-headline-3-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.landing-page .group-2 {
  width: 67.44%;
  height: 62.5%;
  position: absolute;
  right: 15.96%;
  left: 16.6%;
  bottom: 18.75%;
  top: 18.75%;
  overflow: visible;
}
.landing-page .institutions {
  color: var(--neutral-dgrey, #4d4d4d);
  text-align: center;
  font-family: var(--heading-headline-3-font-family, "Inter-Bold", sans-serif);
  font-size: var(--heading-headline-3-font-size, 28px);
  line-height: var(--heading-headline-3-line-height, 36px);
  font-weight: var(--heading-headline-3-font-weight, 700);
  position: relative;
  width: 231px;
}
.landing-page .body {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 1px;
  top: 1411px;
}
.landing-page .achievements {
  background: var(--neutral-silver, #f5f7fa);
  padding: 64px 144px 64px 144px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
}
.landing-page .section-heading {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 540px;
  position: relative;
  overflow: hidden;
}
.landing-page .section-heading2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.landing-page .section-title3 {
  text-align: left;
  font-family: var(
    --heading-headline-2-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--heading-headline-2-font-size, 36px);
  line-height: var(--heading-headline-2-line-height, 44px);
  font-weight: var(--heading-headline-2-font-weight, 600);
  position: relative;
  width: 564px;
}
.section-title-3-span {
  color: var(--neutral-dgrey, #4d4d4d);
  font-family: var(
    --heading-headline-2-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--heading-headline-2-font-size, 36px);
  line-height: var(--heading-headline-2-line-height, 44px);
  font-weight: var(--heading-headline-2-font-weight, 600);
}
.section-title-3-span2 {
  color: var(--brand-primary, #4f8ef7);
  font-family: var(
    --heading-headline-2-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--heading-headline-2-font-size, 36px);
  line-height: var(--heading-headline-2-line-height, 44px);
  font-weight: var(--heading-headline-2-font-weight, 600);
}
.landing-page .counts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.landing-page .row-1 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.landing-page ._2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.landing-page .icon4 {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.landing-page .details {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.landing-page .label {
  color: var(--neutral-grey, #717171);
  text-align: left;
  font-family: var(
    --body-regular-body-2-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--body-regular-body-2-font-size, 16px);
  line-height: var(--body-regular-body-2-line-height, 24px);
  font-weight: var(--body-regular-body-2-font-weight, 400);
  position: relative;
  width: 191px;
}
.landing-page ._1 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.landing-page .icon5 {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.landing-page .live-tv {
  width: 136px;
  height: 126px;
  position: absolute;
  left: 0px;
  top: 11px;
  overflow: visible;
}
.landing-page .row-2 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.landing-page ._3 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.landing-page .icon6 {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: visible;
}
.landing-page ._4 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.landing-page .icon7 {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.landing-page .smart-toy {
  width: 96px;
  height: 96px;
  position: absolute;
  left: -24px;
  top: -24px;
  overflow: visible;
}
.landing-page .calender {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.landing-page .unlock {
  padding: 0px 144px 0px 144px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
}
.landing-page ._2203-i-402-026-s-m-004-c-13-parking-flat-composition-1 {
  flex-shrink: 0;
  width: 582px;
  height: 412px;
  position: relative;
  overflow: hidden;
}
.landing-page .g-8 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 362px;
  transform: translate(0px, -312px);
  overflow: visible;
}
.landing-page .frame-6 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 661px;
  position: relative;
}
.landing-page .frame-5 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 601px;
  position: relative;
}
.landing-page .how-our-system-works {
  color: var(--neutral-dgrey, #4d4d4d);
  text-align: left;
  font-family: var(
    --heading-headline-2-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--heading-headline-2-font-size, 36px);
  line-height: var(--heading-headline-2-line-height, 44px);
  font-weight: var(--heading-headline-2-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.landing-page
  .one-event-calendar-shared-across-national-regional-and-club-events-to-simplify-your-event-experience-allowing-you-to-create-waiting-lists-share-data-capture-issue-credential-for-course-completion-apply-smart-purchasing-rules-and-much-more {
  color: var(--neutral-grey, #717171);
  text-align: left;
  font-family: var(
    --body-regular-body-3-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--body-regular-body-3-font-size, 14px);
  line-height: var(--body-regular-body-3-line-height, 20px);
  font-weight: var(--body-regular-body-3-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.landing-page .footer {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 544px;
  position: absolute;
  left: 1px;
  top: 2267px;
}
.landing-page .frame-16 {
  background: var(--neutral-silver, #f5f7fa);
  padding: 32px 0px 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
}
.landing-page .let-nextcent-do-the-work-so-you-don-t-have-to {
  color: var(--neutral-black, #263238);
  text-align: center;
  font-family: var(
    --heading-headline-1-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--heading-headline-1-font-size, 55px);
  line-height: var(--heading-headline-1-line-height, 76px);
  font-weight: var(--heading-headline-1-font-weight, 600);
  position: relative;
  width: 1036px;
}
.landing-page .footer-big-4-instance {
  flex-shrink: 0 !important;
  width: 1440px !important;
}
.landing-page .frame-36 {
  background: var(--neutral-silver, #f5f7fa);
  width: 1440px;
  height: 84px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.landing-page .group-2228 {
  position: absolute;
  inset: 0;
}
.landing-page .heading-name {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  width: 10.9%;
  height: 28.57%;
  position: absolute;
  right: 44.58%;
  left: 44.51%;
  bottom: 35.71%;
  top: 35.71%;
  overflow: hidden;
}
.landing-page .header-menu-default {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.landing-page .label2 {
  color: var(--text-gray-900, #18191f);
  text-align: left;
  font-family: var(
    --body-medium-body-2-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--body-medium-body-2-font-size, 16px);
  line-height: var(--body-medium-body-2-line-height, 24px);
  font-weight: var(--body-medium-body-2-font-weight, 500);
  position: relative;
}
.landing-page .menu-item-default {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.landing-page .label3 {
  color: var(--text-gray-900, #18191f);
  text-align: left;
  font-family: var(
    --body-regular-body-2-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--body-regular-body-2-font-size, 16px);
  line-height: var(--body-regular-body-2-line-height, 24px);
  font-weight: var(--body-regular-body-2-font-weight, 400);
  position: relative;
}
.landing-page .login {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 6.32%;
  height: 47.62%;
  position: absolute;
  right: 12.08%;
  left: 81.6%;
  bottom: 25%;
  top: 27.38%;
  overflow: hidden;
}
.landing-page .button {
  background: var(--brand-primary, #4f8ef7);
  border-radius: 6px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.landing-page .sign-up {
  color: var(--default-white, #ffffff);
  text-align: center;
  font-family: var(
    --label-medium-label-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--label-medium-label-font-size, 14px);
  line-height: var(--label-medium-label-line-height, 20px);
  font-weight: var(--label-medium-label-font-weight, 500);
  position: relative;
}
.landing-page .image-23 {
  width: 2.78%;
  height: 47.62%;
  position: absolute;
  right: 86.88%;
  left: 10.35%;
  bottom: 26.19%;
  top: 26.19%;
  object-fit: cover;
}
.landing-page .logo4 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 24.31%;
  height: 44.05%;
  position: absolute;
  right: 61.88%;
  left: 13.82%;
  bottom: 26.19%;
  top: 29.76%;
  overflow: hidden;
}
.landing-page .smartparking {
  text-align: left;
  font-family: "FredokaOne-Regular", sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
  width: 350px;
  height: 40px;
}
.smartparking-span {
  color: var(--neutral-black, #263238);
  font-family: "FredokaOne-Regular", sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
}
.smartparking-span2 {
  color: var(--brand-primary, #4f8ef7);
  font-family: "FredokaOne-Regular", sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
}
