.landing-page {
  padding: 0;
}

.hero-section {
  background: #F5F7FA;
}

.achievements {
  background: #F5F7FA;
}

.footer {
  background: #F5F7FA;
}

.smart-solution {
  color: #4F8EF7 !important;
}