.logo,
.logo * {
  box-sizing: border-box;
}
.logo {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.logo .icon-instance {
  flex-shrink: 0 !important;
}
.logo .nexcent {
  flex-shrink: 0;
  width: 111.49px;
  height: 20.66px;
  position: relative;
  overflow: visible;
}
